<p class="d-inline col">
    کارهای انجام شده :
    <span class="badge badge-success badge-pill"><%= completedTodos %> </span>
</p>
<p class="d-inline col">
    کارهای باقی مانده امروز :
    <span class="badge badge-warning badge-pill"><%= remainingTodos %> </span>
</p>
